[submodule "plugins/start/ack.vim"]
	path = plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "plugins/start/ctrlp.vim"]
	path = plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "plugins/start/gruvbox"]
	path = plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "plugins/start/molokai"]
	path = plugins/start/molokai
	url = https://github.com/tomasr/molokai
[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "plugins/start/vim-airline"]
	path = plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
